<canvas id="myChart" width="400" height="400"></canvas>
<ul>
  <%= for hydration <- @hydrations do %>
    <li>
      Hydration sensor: <b><%= hydration.sensor_name %></b> reported <%= hydration.value %> at <%= hydration.measured_at %> </br>
    </li>
  <% end %>
</ul>
